@import "html/home";
@import "html/about";
@import "html/planes";
@import "html/eventos";
@import "html/suscripcion";


//mq version tablet
@media screen and (min-width:600px) {
    main{
        img{
            width: 500px;
            height: 300px;
        }

        p{
            width: 700px;
        }
    }
}

main{
    div{
        img{
            width: 200px;
            height: 150px;
        }
    }
}



//mq version escritorio
@media screen and (min-width:1024px){
    main{
        img{
            width: 850px;
            height: 450px;
        
        }

        p{
            width: 700px;
        }
    }


main{
    div{
        img{
            width: 250px;
            height: 200px;
        }
    }
}


    .vision{
        display: flex;
        flex-direction: column;
        text-align: center;
       
        
    }

    section{
        .info-adicional{
            width: 250px;
        }
    }

  }  








