@import "../utilidades/variables";
@import "../utilidades/mixin";



//reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



//estilos header
//uso de mixin

header {
    @include header
    
}


//estilos de main

main {
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1px;

    

    h1 {
        margin-bottom: 40px;
        font-family: 'REM', sans-serif;

    }

    p {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;

    }

    a {
        text-decoration: none;
    }

    .boton {
        color: black;
        background-color: yellow;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 10%;
    }

    img {
        width: 80%;
        padding: 1rem;
    }


}

//estilos de section

section {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
    background-color: $color-principal;
    margin-bottom: 1px;


    .planes {
        text-align: center;

    }

    .card {
        margin: 1rem;

    }

    .card-body {
        background-color: $color-card;

    }

    .card-img-top{
        width: 250;
        height: 200px;
    }

     
    //Estilos al pasar sobre la tarjeta
    .card:hover {
        border-color: #ff6347;
        
    }

}

//estilos de footer

footer {
    background-color: $color-footer;
    padding: 50px;
    text-align: center;


    img {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .derechos {
        color: aliceblue;
        margin: 20px;

    }

}



